


table,
th,
td
 {
    border: 3px solid green;
    text-align: center;
    margin: 30px auto;
}

th,
td {
    padding: 50px;
}
th:hover,
td:hover {
    background-color: greenyellow;
    cursor: pointer;
}

th {
    background-color: darkmagenta;
    color: thistle;
}

td {
    background-color: aquamarine;
    color: saddlebrown;
}

caption {
    font-size: 30px;
    color: gold;
    padding-bottom: 30px;
}